body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /* display: flex;
    flex-direction: column; */
}

header {
    text-align: center;
    padding: 15px;
    color: #385abe;
}

h1 {
    text-align: center;
}

h2 {
    padding: 20px 10px 10px 0;
}

h3 {
    padding: 15px 10px;
}

/* section {
    display: flex;
} */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.endpoint-router {
    font-size: 24px;
    font-weight: bold;
}

.http-method, .endpoint_path {
    font-weight: bold; 
} 

.http-method {
    color: #385abe;  
    margin: 2px 8px;
    font-size: 24px;
}

.endpoint_path {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    padding: 10px;
    color: #dedede;
    border-radius: 2px;
    font-size: 20px;
}

.orange {
    color: darkorange;
}

.endpoint-info {
    font-size: 18px;
}

.query {
    background-color:rgb(214, 214, 214);
    padding: 2px 5px;
}

li {
    padding: 10px;
}

.description,
.example,
.type-definition {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;  /* Center align  */
} 

.example-response {
    background-color: rgb(242, 242, 242);
    font-size: 16px;
    color: #385abe;
    line-height: 2;
}

.type-definition {
    margin-bottom: 40px;
}

.type-definition table {
    border-collapse: collapse;
}

.type-definition table th, .type-definition table td {
    border: 1px solid #385abe;
    padding: 8px;
}

.type-definition table thead tr th {
    padding: 15px 50px;
}

.type-definition table tbody tr td {
    padding: 15px 40px;
}

.type-name {
    font-size: 15px;
    font-weight: bold;
}

.type-description {
    color: rgb(104, 96, 96);
}

.type-data {
    text-align: center;
    font-style: italic;
}

footer {
    text-align: center;
    margin-top: 40px;;
    padding: 15px;
    background-color: #385abe;
    color: white;
    font-size: 18px;
    font-weight: bold;
}